{% extends 'comunes/Base.html' %}
{% block content %}
<div class="container">
    <center>
    <h2>Consulta</h2>
    </center>
    <br>


    <right>
        <a href="/Alumnos/Nuevo" style="margin:20px" class="btn btn-success">Registrar</a>
    </right>
<br>

    <table class="table table-light">
        <thead>
            <tr>
                <th>NC</th>
                <th>Nombre</th>
                <th>Semestre</th>
                <th>Carrera</th>
                <th>Editar</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>

            </tr>
        </tbody>
    </table>
</div>



{% endblock%}